{% extends 'base.html.twig' %}

{% block title %}Hello AccountAddController!
{% endblock %}

{% block body %}
	{{ form_start(form, {'action' : path('account_add')}) }}

	{{ form_row(form.number)}}

	<button type="submit" value="Ajouter" class="btn btn-success pull-right">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
